<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<!-- This is the common layout of all the pages, so in order to render the page itself, we use the word yield -->
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="navbar-brand" href="#"> Treebook </a>
			    <ul class="nav">
					<li><%= link_to "All Statuses",statuses_path %></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="container">
		<%= yield %>
	</div> 

</body>
</html>